---
import '../styles/global.css';

const pageTitle = "about";

const identity = {
  firstName: "sakamoto",
  country: "Japan-Tokyo",
  occupation: "designer",
  affiliation: ["MAUEMS/武蔵美電音研", "武蔵野美術大学視覚伝達デザイン学科"],
};

const skills = ["Motion design", "GraphicDesign", "ArtDirection", "Artwork"];

const happy = true;
const finished = false;
const goal = 3;

---

<!--
    この上の---の範囲はフロントマターといって、メタデータを扱う、変数を定義したりする
 -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

        <style>
            h1 {
              color: purple;
              font-size: 2rem;
            }
            .skill {
              color: red;
              font-weight: bold;
            }
          </style>


	</head>
	<body>
     <a href="/">works</a>
     <a href="/about/">about</a>
     <a href="/contact/">contact</a>

		<h1>{pageTitle}</h1>
 
        <p>坂本倫久/sakamotomichihisa </p>
        <p>Graphic Motion Artwork</p>
        <p>text/雑文</p>

        <ul>
            <li><a href="/posts/post-1/">20240305</a></li>
            <li><a href="/posts/post-2/">20240306</a></li>
          </ul>

      <ul>
          <li>My name is {identity.firstName}</li>
          <li>based in {identity.country}.{identity.occupation}として働いています。</li>
          {identity.affiliation.length >= 2 &&
           <li>所属:{identity.affiliation[0]}・{identity.affiliation[1]}</li>
           }
      </ul>

       <ul>
          {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}

        {finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}

	</body>
</html>